body.dark .header .nav ul li a:hover,
.header .nav ul li a:hover,
.home-section .home-text h1 span,
.header .header-title a span,
.section-title h2 span,
.about-section .about-content .about-text h3 span,
.about-section .about-content .education-year .timeline-item .fa,
.service-section .service-item .service-item-inner .icon .fa,
.portfolio-section .portfolio-filter button.active,
.contact-section .contact-info-item .icon .fa,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa{
    color: #F30C71;
}
.home-section .home-img .img-circle,
.btn-1,
.header .nav-toggle span,
.header .nav-toggle span:after,
.header .nav-toggle span:before,
.about-section .about-content .personal-skill .skill-item  .progress .progress-in,
.about-section .about-content .education-degree .circle-dot,
.service-section .service-item .service-item-inner:hover .icon{
    background-color: #F30C71;
}
.portfolio-section .portfolio-filter button.active{
    border-color:#ec1839 ;
}
.home-section .home-img img{
    border: 8px solid #F30C71;
}